* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  padding: 26px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  min-height: 100vh;
  background-color: #000000;
}

*:focus {
  outline: none;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  padding: 26px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  min-height: 100vh;
  background-color: #000000;
}

*:focus {
  outline: none;
}

.modal {
  background: rgba(0, 0, 0, 0.9);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.modal#modal__friend__editor {
  display: none;
}

.modal#modal__friend__editor .modal__box {
  width: 478px;
  height: 344px;
  background: #c4c4c4;
  padding: 14px 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 50px;
  position: relative;
}

.modal#modal__friend__editor .modal__box .btn__modal__close {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: -16px;
  right: -16px;
  background: #ff0000;
  padding: 6px;
  border-radius: 100%;
}

.modal#modal__friend__editor .modal__box h2 {
  font-weight: 500;
  font-size: 28px;
  line-height: 37px;
}

.modal#modal__friend__editor .modal__box .form__friendEdit {
  display: -ms-grid;
  display: grid;
  grid-auto-flow: column;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
  gap: 50px 28px;
}

.modal#modal__friend__editor .modal__box .form__friendEdit input,
.modal#modal__friend__editor .modal__box .form__friendEdit select {
  width: 194px;
}

.modal#modal__friend__editor .modal__box .form__friendEdit label {
  font-size: 16px;
  font-weight: 500;
  color: #2d2d2d;
}

.modal#modal__friend__editor .modal__box .btn__form {
  width: 139px;
}

.modal#modal__friend__delete .modal__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.modal#modal__friend__delete .modal__box h2 {
  font-weight: 500;
  font-size: 40px;
  line-height: 47px;
  color: #ffffff;
}

.modal#modal__friend__delete .modal__box .modal__content {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.modal .btn__modal {
  height: 58px;
  width: 140px;
  border-radius: 8px;
  font-weight: 500;
  font-size: 24px;
}

h1 {
  text-align: center;
  width: 100%;
  font-size: 40px;
  line-height: 53px;
  color: #ffffff;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: inherit;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .board {
  width: 1126px;
  height: 429px;
  background: #474554;
  border-radius: 6px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

main .board h2 {
  font-size: 32px;
  line-height: 47px;
  color: #ffffff;
}

main .board .board__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-line-pack: justify;
      align-content: space-between;
  gap: 42px;
}

main .board .board__content .table {
  width: 732px;
  height: 278px;
  padding: 12px 10px 16px 16px;
  background: #c4c4c4;
  -webkit-box-shadow: 0px 0px 0px 2px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 0px 0px 2px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 14px;
  overflow-y: scroll;
}

main .board .board__content .table::-webkit-scrollbar {
  width: 14px;
}

main .board .board__content .table::-webkit-scrollbar-track {
  background-color: #eae9e9;
  border-radius: 2px;
  margin: 40px 0 22px 0;
}

main .board .board__content .table::-webkit-scrollbar-thumb {
  border-radius: 6px;
  border: 4px solid transparent;
  background-clip: content-box;
  background-color: #fdb251;
}

main .board .board__content .form__friendRegister {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 262px;
  height: 278px;
  padding: 12px 12px 8px 12px;
  background: #c4c4c4;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

main .board .board__content .form__friendRegister label {
  font-weight: 500;
}

main .board .board__content .form__friendRegister label::after {
  content: "*";
  color: #da1111;
  margin-left: 4px;
  font-weight: bolder;
}

main .board .board__content .form__friendRegister .btn__form {
  width: 102px;
}

main .board .board__content .form__friendRegister input,
main .board .board__content .form__friendRegister select {
  width: 210px;
}

.btn {
  border-radius: 8px;
  border: none;
}

.btn:hover {
  cursor: pointer;
  background: #fdb251;
}

.btn.btn__blue {
  background: #7066e0;
}

.btn.btn__red {
  color: #ffffff;
  background: #dc3741;
}

form .form__field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 6px;
  position: relative;
}

form .form__field.form__field__required::after {
  position: absolute;
  bottom: -8px;
  content: "";
  font-size: 11px;
  line-height: 2px;
  font-weight: 500;
  color: #da1111;
}

.btn__form {
  background: #ffbe6b;
  height: 24px;
}

.row {
  width: 100%;
  display: -ms-grid;
  display: grid;
  grid-auto-flow: column;
  -ms-grid-columns: 70px 156px 64px 156px 38px 46px;
      grid-template-columns: 70px 156px 64px 156px 38px 46px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.row.row__header {
  font-weight: 600;
}

.row:not(.row__header) {
  padding-top: 10px;
  border-top: 1px solid #939393;
}

.row:not(.row__header) p {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.row:not(.row__header) p.reg__name {
  width: 70px;
}

.row:not(.row__header) p.reg__email {
  width: 156px;
}

.row:not(.row__header) p.reg__genre {
  width: 64px;
}

.row:not(.row__header) p.reg__desc {
  width: 156px;
}

.row:not(.row__header) p.reg__edit {
  width: 38px;
  cursor: pointer;
}

.row:not(.row__header) p.reg__delete {
  width: 46px;
  cursor: pointer;
}

input,
select {
  padding-left: 6px;
  background-color: #11055b;
  border-radius: 2px;
  font-size: 12px;
  line-height: 14px;
  color: #ffffff;
  height: 18px;
  border: none;
}
/*# sourceMappingURL=style.css.map */